.post-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-popup-content {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  gap: 20px;
}

.popup-image {
  width: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-details {
  width: 50%;
  padding: 20px;
}

.popup-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-username,
.popup-description,
.popup-tags {
  margin: 10px 0;
  color: #4a5568;
}

.popup-comments {
  margin-top: 20px;
}

.like-button,
.close-popup {
  background-color: #667eea;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.like-button:hover,
.close-popuo:hover {
  background-color: #5a67d8;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #4a5568;
}
