.sidebar {
    width: 10%;
    height: 100vh;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 10px;
}

.sidebar-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-btrn-explore {
    background-color: #007BFF;
    color: #ffffff;
}

.sidebar-btrn-explore:hover {
    background-color: #0056b3;
}

.sidebar-btrn-following {
    background-color: #E0E0E0;
    color: #333;
}

.sidebar-btrn-following:hover {
    background-color: #BDBDBD;
}
